/* Estilo para el contenedor de la aplicación */
.App {
  text-align: center;
}

/* Estilo para el cuerpo de la página */
body {
  margin: 0;
  background-image: url('https://imgs.search.brave.com/vPteA1p136xPQNqSqBXWYEA60lCyC6YyLC1q9b9jHkY/rs:fit:860:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMzLmFscGhhY29k/ZXJzLmNvbS84MTIv/ODEyMDYyLnBuZw');
  background-size: cover; /* Cambiado a cover para asegurar que la imagen cubra todo el fondo */
  background-attachment: fixed;
}

